<!DOCTYPE html>
<html>
  <head>
    <title>Dissonance</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%# <link rel="shortcut icon" type="image/x-icon" href="../../assets/images/favicon.ico"/> %>

    <meta property="og:title" content="Dissonance" />
    <meta property='og:image' content="<%= image_url('screenshot1.png') %>"/>
    <meta property="og:description"
      content="A Discord clone that includes full-scale CRUD implementations of users, conversations, servers, channels, and roles. Includes AI chat bots, real-time instant messaging, and scalable virtual scrolling among other features"
    />
    <meta property="og:url"
      content="http://dissonance.herokuapp.com/#/"
    />
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
  </head>

  <body>
    <script type="text/javascript">
      window.mainpageleft = "<%= image_url('main-page-left.svg') %>";
      window.mainpageright = "<%= image_url('main-page-right.svg') %>";
      window.mainpageclouds = "<%= image_url('main-page-clouds.svg') %>";
      window.mainpageleft = "<%= image_url('main-page-left.svg') %>";
      window.loginimg = "<%= image_url('login-img.png') %>";
      window.homeicon = "<%= image_url('home.png') %>";
      window.friendicon = "<%= image_url('wave-icon.svg') %>";
      window.aticon = "<%= image_url('at-icon.svg') %>";
      window.upload = "<%= image_url('upload.svg') %>";
      window.settingsicon = "<%= image_url('settings-icon.svg') %>";
      window.passwordimg = "<%= image_url('password.svg') %>";
      window.logoutimg = "<%= image_url('logout.svg') %>";
      window.exitsettings = "<%= image_url('exitsettings.png') %>";
      window.hashtag = "<%= image_url('hashtag.svg') %>";
      window.addserver ="<%= image_url('add-server.svg') %>";
      window.serverimageupload ="<%= image_url('upload-server-image.svg') %>";
      window.dropdown ="<%= image_url('dropdown-icon.png') %>";
      window.editmessage = "<%= image_url('edit-message.svg') %>";
      window.deleteicon = "<%= image_url('delete-icon.svg') %>";
      window.editimg = "<%= image_url('edit-image3.png') %>";
      window.channelsettings = "<%=image_url('channel-settings.svg') %>";
      window.github = "<%=image_url("github.svg") %>";
      window.linkedin = "<%=image_url("linkedin.svg") %>";
      window.angelist = "<%=image_url("angellist.svg") %>";
      window.pinicon = "<%=image_url('pinicon.svg') %>";
      // window.notif = "<%=asset_path("audios/notifications.mp3") %>";
    </script>

    <% if logged_in? %>
    <script id="bootstrap-current-user" type="text/javascript">
      window.currentUser = <%= render("api/users/user.json.jbuilder",
        user: current_user).html_safe %>
    </script>
    
    <% end %>
    <%= yield %>
  </body>
</html>
