<!DOCTYPE html>
<html>
  <head>
    <title>Dissonance</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    

  </head>

  <body>
    <script type="text/javascript">
      window.mainpageleft = "<%= image_url('main-page-left.svg') %>";
      window.mainpageright = "<%= image_url('main-page-right.svg') %>";
      window.mainpageclouds = "<%= image_url('main-page-clouds.svg') %>";
      window.mainpageleft = "<%= image_url('main-page-left.svg') %>";
      window.loginimg = "<%= image_url('login-img.png') %>";
      window.homeicon = "<%= image_url('home.png') %>";
      window.friendicon = "<%= image_url('wave-icon.svg') %>";
      window.aticon = "<%= image_url('at-icon.svg') %>";
      window.upload = "<%= image_url('upload.svg') %>";
      window.settingsicon = "<%= image_url('settings-icon.svg') %>";
      window.passwordimg = "<%= image_url('password.svg') %>";
      window.logoutimg = "<%= image_url('logout.svg') %>";
      window.exitsettings = "<%= image_url('exitsettings.png') %>";
      window.hashtag = "<%= image_url('hashtag.svg') %>";
      window.addserver ="<%= image_url('add-server.svg') %>";
      window.serverimageupload ="<%= image_url('upload-server-image.svg') %>";
      window.dropdown ="<%= image_url('dropdown-icon.png') %>";
      window.editmessage = "<%= image_url('edit-message.svg') %>";
      window.deleteicon = "<%= image_url('delete-icon.svg') %>";
      
    </script>

    <% if logged_in? %>
    <script id="bootstrap-current-user" type="text/javascript">
      window.currentUser = <%= render("api/users/user.json.jbuilder",
        user: current_user).html_safe %>
    </script>
    
    <% end %>
    <%= yield %>
  </body>
</html>
